:root {
  --empty_tile: #3a3a3c;
  --contains_tile: #b59f3b;
  --correct_tile: #538d4e;
}

.gameBody {
  text-transform: uppercase;
  font-size: 1.5rem;
}

#gameContainer {
  width: 100%;
  height: 600px;
  display: grid;
  place-items: center;
}

.gameGrid {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(5, auto);
}
.charBox {
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  border: 2px solid var(--empty_tile);
  margin: 4px;
  border-radius: 2px;
  filter: drop-shadow(3px 3px 3px rgb(40, 40, 40));
  color: #ffffff;
  font-weight: bold;
  font-size: 2.5rem;
}

.empty {
  background: var(--empty_tile);
}

.contains {
  background: var(--contains_tile);
}

.correct {
  background: var(--correct_tile);
}

.punText {
  text-align: center;
  margin: 0;
  margin-top: 0.5vh;
}

.punText1 {
  margin: 0;
  margin-top: 10px;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}

#punPrompt {
  text-align: center;
  margin-bottom: 0;
}

.punblock {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  max-width: fit-content;
  align-self: center;
  padding: 10px 20px 10px 20px;
  border: 2px;
  border-radius: 10px;
  border-color: #3a3a3c;
  border-style: solid;
}

.simple-keyboard {
  display: block;
  justify-self: center;
  max-width: 600px;
  background: black;
  font-size: larger;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: rgb(80, 80, 80);
  font-weight: bold;
  margin: 3px 5px 2px 2px;
}

.simple-keyboard.myTheme1 {
  background-color: black;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: rgb(60, 60, 60);
  color: #ffffff;
}

.simple-keyboard.myTheme1 .hg-button.hg-blue {
  background: rgb(57, 85, 114);
  color: white;
}
.simple-keyboard.myTheme1 .hg-button:active.hg-blue {
  background: rgb(60, 60, 60);
  color: #ffffff;
}

.simple-keyboard.myTheme1 .hg-button.hg-containsKeys {
  background: var(--contains_tile);
  color: white;
}

.simple-keyboard.myTheme1 .hg-button.hg-correctKeys {
  background: var(--correct_tile);
  color: white;
}
.simple-keyboard.myTheme1 .hg-button.hg-incorrectKeys {
  background: rgb(30, 30, 30);
  color: rgb(146, 146, 146);
}

#alertBox {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  position: absolute;
  width: auto;
  font-size: 0.5em;
  font-weight: bold;
  background-color: #ffffff;
}

.hide {
  display: none;
  padding: 0px;
  background-color: black;
}
.resetButton {
  background-color: green;
  color: white;
  border: black;
  border-style: solid;
  border-radius: 8px;
  padding: 5px;
  font-size: 0.7em;
  font-weight: bold;
}

@media only screen and (min-width: 601px) {
  #alertBox {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 600px) {
  .charBox {
    width: 50px;
    height: 50px;
    font-size: x-large;
  }
  #gameContainer {
    height: 400px;
    width: auto;
  }
  .simple-keyboard {
    width: auto;
  }
  .punblock {
    border: none;
    margin: auto;
    font-size: 0.7em;
  }
  .punText1 {
    font-weight: 600;
    font-size: 4em;
  }
}

/* @media only screen and (min-width: 1000px) {
  .simple-keyboard.myTheme1 {
    display: none;
  }
} */
