:root {
  --empty_tile: #3a3a3c;
  --contains_tile: #b59f3b;
  --correct_tile: #538d4e;
}

.gameBody {
  text-transform: uppercase;
  font-size: 2rem;
}

#gameContainer {
  width: 100%;
  height: 600px;
  display: grid;
  place-items: center;
}

.gameGrid {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(5, auto);
}

.charBox {
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  border: 2px solid var(--empty_tile);
  margin: 4px;
  color: #ffffff;
  font-weight: bold;
}

.empty {
  background: var(--empty_tile);
}

.contains {
  background: var(--contains_tile);
}

.correct {
  background: var(--correct_tile);
}

.punText {
  text-align: center;
}

.punText1 {
  margin: 0%;
  margin-top: 2%;
}

.simple-keyboard {
  color: black;
  max-width: 500px;
  display: block;
  justify-self: center;
  background: black;
  font-size: larger;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: rgb(39, 39, 39);
  font-weight: bold;
}

.simple-keyboard.myTheme1 {
  background-color: black;
}

#alertBox {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px 20px;
  border-radius: 10px;
  position: fixed;
  top: 60%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  font-size: 0.5em;
  font-weight: bold;
  background-color: #ffffff;
}

.hide {
  display: none;
  padding: 0px;
  background-color: black;
}

@media only screen and (min-width: 601px) {
  #alertBox {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 600px) {
  .charBox {
    width: 50px;
    height: 50px;
    font-size: x-large;
  }
  #gameContainer {
    height: 400px;
  }
  .simple-keyboard {
    width: auto;
  }
}

/* @media only screen and (min-width: 1000px) {
  .simple-keyboard.myTheme1 {
    display: none;
  }
} */
