:root {
  --empty_tile: #3a3a3c;
  --contains_tile: #b59f3b;
  --correct_tile: #538d4e;
}

.gameBody {
  text-transform: uppercase;
  font-size: 2rem;
}

#gameContainer {
  width: 100%;
  height: 600px;
  display: grid;
  place-items: center;
}

.gameGrid {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(5, auto);
}

.charBox {
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  border: 2px solid var(--empty_tile);
  margin: 4px;
  color: #ffffff;
}

.empty {
  background: var(--empty_tile);
}

.contains {
  background: var(--contains_tile);
}

.correct {
  background: var(--correct_tile);
}

.punText {
  text-align: center;
}

.punText1 {
  margin: 0%;
  margin-top: 2%;
}

@media only screen and (max-width: 600px) {
  .charBox {
    width: 50px;
    height: 50px;
  }
  #gameContainer {
    height: 400px;
  }
}

.simple-keyboard {
  color: black;
  max-width: 500px;
  display: block;
  justify-self: center;
  background: black;
  background-color: black;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: rgb(39, 39, 39);
}

.simple-keyboard.myTheme1 {
  background-color: black;
}
