.gameBody {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  justify-items: center;
}

#gameContainer {
  width: 800px;
  height: 800px;
  margin-top: 20px;
  display: grid;
  grid-template:
    'input list'
    'game list'
    'buttons list';
  grid-template-columns: auto 300px;
  grid-template-rows: 50px 400px 100px;
}

.gameGrid {
  grid-area: game;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  align-self: center;
  justify-self: center;
  background-color: rgb(0, 23, 107);
  padding: 10px;
  border: 3px solid;
  border-color: rgb(0, 33, 151);
  border-radius: 10px;
}
.charBox {
  font-size: 5em;
  display: grid;
  place-items: center;
  width: 100px;
  height: 100px;
  border: 3px solid;
  border-color: white;
  border-radius: 4px;
  margin: 3px;
  color: #ffffff;
  font-weight: 500;
  background-color: rgb(0, 55, 255);
}
.charBox:hover {
  background-color: rgb(25, 74, 252);
  transform: scale(105%);
}

.button {
  width: 120px;
  height: 80px;
  margin: 3px;
  padding: 0px;
  font-size: 1em;
  font-weight: 400;
  border-color: white;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  background-color: rgb(0, 10, 100);
  filter: drop-shadow(3px 3px 0px rgb(255, 255, 255));
}
.button:hover {
  background-color: rgb(1, 16, 144);
  transform: scale(105%);
}
.startButton {
  padding: 2px 5px;
  font-size: 1em;
  font-weight: 600;
  background-color: green;
  color: white;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 3px rgb(54, 54, 54));
}
.startButton:hover {
  color: aqua;
}

.punText {
  text-align: center;
  margin: 0;
  margin-top: 0.5vh;
}

.punText1 {
  margin: 0;
  margin-top: 2%;
  font-family: 'Press Start 2P', system-ui;
  font-weight: 400;
  font-style: normal;
}

#buttonBox {
  grid-area: buttons;
  display: flex;
  justify-self: center;
  font-size: 2em;
}
#inputBox {
  grid-area: input;
  height: 100px;
  align-content: center;
  text-align: center;
  font-size: 2em;
}

#alertBox {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 5px 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  position: absolute;
  width: auto;
  font-size: 0.5em;
  font-weight: bold;
  background-color: #ffffff;
  bottom: 100;
  transform: translate(0%, -110%);
  justify-self: center;
}
#pointAlert {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  position: absolute;
  width: auto;
  font-size: 3em;
  font-weight: bold;
  bottom: 100;
  transform: translate(210%, -100%) rotate(15deg);
  filter: drop-shadow(5px 5px 1px rgb(0, 13, 255));
  justify-self: center;
}

.hide {
  display: none;
  padding: 0px;
}

#outputBox {
  /* grid-template-areas: 'list list list'; */
  grid-area: 'list list list';
  display: grid;
  grid-template:
    'title title'
    'list1 list2'
    'list1 list2';
  grid-template-columns: 150px 150px;
  /* grid-template-rows: 50px 20px; */
  word-break: break-all;
}

#outputBox p {
  text-align: left;
  font-size: 1.3em;
  margin: 1px;
}
#outputBox h2 {
  font-size: 1.5em;
  grid-template-areas: 'title title';
  grid-area: 1 / 1 / span 1 / span 2;
}

.goldLetters {
  color: gold;
  transform: scale(110%);
}

#clearButton {
  width: 95px;
}

#backButton {
  width: 95px;
}
#enterButton {
  width: 130px;
}

@media only screen and (min-width: 601px) {
  #alertBox {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 600px) {
  /* .charBox {
    width: 50px;
    height: 50px;
    font-size: x-large;
  }
  #gameContainer {
    height: 400px;
    width: auto;
  } */
  #alertBox {
    bottom: 9vh;
  }
  .punblock {
    border: none;
    margin: auto;
    font-size: 0.7em;
  }
  .punText1 {
    font-weight: 600;
    font-size: 4em;
  }
  .alert2 {
    height: 20px;
    top: 44vh;
  }
}
