.punText {
  text-align: center;
  margin: 0;
  margin-top: 0.5vh;
}

h1 {
  margin: 0;
  font-family: 'Bagel Fat One', system-ui;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  padding: 10px;
  filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
}
h2 {
  margin: 0;
  font-family: 'Bagel Fat One', system-ui;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
}
body {
  color: white;
  background: black;
  background-image: url('./calimages/higherlowerbkg2.png');
  background-size: 100% auto;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri';
}

.calGameBody {
  font-size: 2rem;
}

#calGameContainer {
  width: 900px;
  height: 75vh;
  display: grid;
  place-items: center;
  justify-self: center;
}
#gameGrid {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 20px;
  grid: auto / auto auto;
  max-width: 1000px;
}

.gameBox {
  display: grid;
  place-items: center;
  border: 2px solid;
  border-color: white;
  margin: 4px;
  color: #ffffff;
  font-weight: bold;
  background-color: #27292b00;
  width: 400px;
  height: 700px;
  backdrop-filter: blur(20px);
  filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
}

.imgDiv {
  width: 300px;
  height: 400px;
  align-content: center;
}

img {
  filter: drop-shadow(0 0 2rem rgb(253, 234, 125));
}

.calImg {
  max-width: fit-content;
  width: 300px;
  height: auto;
  max-height: 400px;
}

.nameDiv {
  padding: 10px 0px;
  height: 60px;
  place-content: center;
}
.calDiv {
  padding: 10px 0px;
  height: 80px;
  place-content: center;
}

.currentScoreDiv {
  height: 60px;
  place-content: center;
}

.bestStreakDiv {
  height: 60px;
  place-content: center;
}

button {
  font-size: 1em;
  font-weight: 1000;
  background-color: white;
  border: black;
  border-style: solid;
  border-radius: 10px;
  width: 150px;
  height: 60px;
}

button:hover {
  background-color: red;
}

#alertBox {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  position: absolute;
  width: auto;
  font-size: 1em;
  font-weight: bold;
  backdrop-filter: blur(30px);
  filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
  height: 300px;
  align-content: center;
}

.hide {
  display: none;
  padding: 0px;
  background-color: black;
}

@media only screen and (max-width: 780px) {
  body {
    background-image: url('./calimages/higherlowerbkg2.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    /* background: black; */
  }
  .calGameBody {
    font-size: 1em;
    width: 100%;
  }
  #calGameContainer {
    width: auto;
    height: auto;
  }
  #gameGrid {
    height: auto;
    width: auto;
    padding: 0px;
  }
  .calImg {
    max-width: fit-content;
    width: 47vw;
    height: auto;
    max-height: 50vw;
  }
  .gameBox {
    width: 47vw;
    height: 450px;
    backdrop-filter: blur(20px);
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
  }
  .imgDiv {
    width: auto;
    height: auto;
  }
  button {
    font-weight: 800;
    width: 80px;
    height: 40px;
  }
  #alertBox {
    width: auto;
    font-size: 1em;
    font-weight: bold;
    height: 150px;
  }
}
