.punText {
  text-align: center;
  margin: 0;
  margin-top: 0.5vh;
}

h1 {
  margin: 0;
  margin-top: 4vh;
  font-family: 'Press Start 2P', system-ui;
  font-size: 3rem;
  text-align: center;
}
body {
  color: white;
  background: black;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri';
}

.calGameBody {
  font-size: 2rem;
}

#calGameContainer {
  width: 900px;
  height: 75vh;
  display: grid;
  place-items: center;
  justify-self: center;
}
#gameGrid {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 20px;
  grid: auto / auto auto;
  max-width: 1000px;
}

.gameBox {
  display: grid;
  place-items: center;
  border: 2px solid;
  border-color: white;
  margin: 4px;
  color: #ffffff;
  font-weight: bold;
  background-color: #27292b;
  width: 400px;
  height: 70vh;
}

.imgDiv {
  width: 300px;
  height: 400px;
  align-content: center;
}

img {
  filter: drop-shadow(0 0 2rem rgba(253, 234, 125, 0.726));
}

.calImg {
  max-width: fit-content;
  width: 300px;
  height: auto;
  max-height: 400px;
}

.nameDiv {
  padding: 10px 0px;
  height: 60px;
  place-content: center;
}
.calDiv {
  padding: 10px 0px;
  height: 80px;
  place-content: center;
}

.currentScoreDiv {
  height: 60px;
  place-content: center;
}

.bestStreakDiv {
  height: 60px;
  place-content: center;
}

button {
  font-size: 1em;
  font-weight: 1000;
  background-color: white;
  border: black;
  border-style: solid;
  border-radius: 10px;
  width: 150px;
  height: 60px;
}

button:hover {
  background-color: red;
}
