.punText {
  text-align: center;
  margin: 0;
  margin-top: 0.5vh;
}

h1 {
  margin: 0;
  margin-top: 2%;
  font-family: 'Press Start 2P', system-ui;
  font-size: 3rem;
  text-align: center;
}
body {
  color: white;
  background: black;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri';
}

.calGameBody {
  font-size: 2rem;
}

#calGameContainer {
  width: 100vw;
  height: 600px;
  display: grid;
  place-items: center;
}
#gameGrid {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  padding: 20px;
  grid: auto / auto auto;
  max-width: 1000px;
}

.gameBox {
  display: grid;
  place-items: center;
  width: auto;
  height: auto;
  border: 2px solid;
  border-color: white;
  margin: 4px;
  color: #ffffff;
  font-weight: bold;
  background-color: #27292b;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.imgDiv {
  max-width: fit-content;
  width: 300px;
  height: 400px;
  align-content: center;
}
.calImg {
  max-width: fit-content;
  width: 300px;
  height: auto;
}

.nameDiv {
  padding: 10px;
}
.calDiv {
  padding: 10px;
}

button {
  font-size: 1em;
  font-weight: 1000;
  background-color: white;
  border: black;
  border-style: solid;
  border-radius: 10px;
  width: 150px;
  height: 60px;
}

button:hover {
  background-color: red;
}
