body {
  color: white;
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#banner {
  background-image: url(/images/matrix-banner.avif);
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-position: center;
  width: auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4em;
  text-align: center;
}

a.banner-links {
  font-size: 2.5em;
  color: white;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

a.banner-links-current {
  font-size: 2.5em;
  color: yellowgreen;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

#banner-link-spacer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

a:hover {
  color: yellowgreen;
  border-color: white;
}

.body-text {
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

body {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
}

img {
  width: 300px;
  height: 300px;
  margin: 5px;
  object-fit: cover;
}

.about-spacing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

a.blog-links {
  font-size: 1em;
  color: white;
  text-align: left;
}

.blog-block {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(25, 25, 25, 0.5);
}

a.footer {
  color: white;
  margin-left: 3%;
}

footer {
  padding: 10px 10px 10px 80px;
  background-color: rgb(25, 25, 25);
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
}

#warning {
  color: red;
}

@media only screen and (max-width: 680px) {
  h1 {
    font-size: 2em;
  }
  a.banner-links-current {
    font-size: 1em;
  }
  a.banner-links {
    font-size: 1em;
  }
  #banner {
    height: 150px;
  }
}

@media only screen and (max-width: 370px) {
  h1 {
    font-size: 1.5em;
  }
  #banner {
    height: 150px;
    width: 370px;
  }
}

@media only screen and (min-width: 1000px) {
  img:hover {
    transform: scale(2);
    transition: transform 0.2s;
    height: auto;
  }
}
